<h2>{{titulo}}</h2>

<p>Anadir marca: </p>

<p>
    <input type="text" [(ngModel)]="mi_marca" (keyup.enter)="mostrarPalabra()"/> 
</p>

<button (click)="getMarca()">Mostrar marca</button>

<button (click)="addMarca()">Anadir marca</button>

<p><strong>{{mi_marca}}</strong></p>

<p>Marcas disponibles: </p>

<ul>

<li *ngFor="let marca of marcas; let indice = index">
    {{indice +'. '+ marca}}

<button (click)="borrarMarca(indice)">Borrar</button>

</li>

</ul>

<ul>

<li *ngFor="let shoes of zapatillas">{{shoes.nombre}} - 
    
    <strong  [class.altoPrecio]="shoes.precio >=80" 
        [ngClass]="
        {
            
            'fondoRojo': shoes.precio > 100,

            'subrayado': shoes.marca == 'Adidas'
        
        }"

        >
        {{shoes.precio}} $</strong> 

        <span *ngIf="shoes.precio <=80"
 [style.background]="shoes.precio <= 80 ? 'green': 'transparent' "
 [style.color]="shoes.precio <= 80 ? 'white' : 'black'"
 >En oferta</span>

</li>


</ul>



<p>El color de la mayoria de las zapatillas es: </p>

<input type="text" [(ngModel)]="color">

<ul [ngSwitch]="color">

    <li *ngSwitchCase="'yellow'">

        El color es el <span [ngStyle]="{

            'background': color 
        
        }">Amarillo</span>

    </li>

    <li *ngSwitchCase="'red'">

        El color es el <span [ngStyle]="{
            
            'background': color 
        
        }">Rojo</span>

    </li>

    <li *ngSwitchCase="'blue'">

        El color es el <span [ngStyle]="{
            
            'background': color 
        
        }">Azul</span>

    </li>

    <li *ngSwitchCase="'orange'">

        El color es el <span [ngStyle]="{
            
            'background': color 
        
        }">Naranja</span>

    </li>


</ul>